
# libraries
openzl/
lib*
sqlite*

# generated data
data/
csv/
*.csv

# generated binaries
*.exe
*.o

# dev files
bt_discover.*
compression_tests.*
generate_data.*
receiver.cpp
recieve_usa_kafka.cpp
recieve_usa_rabbitmq.cpp

# conf
docker-compose.rabbitmq.yml

# tests
test*